@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


body {
    font-family: "Roboto", sans-serif;
    padding-top: 70px;
    overflow-x: hidden;
}



h1, h2, h3, h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

p {
    font-size: 20px;
    color: #545b62;
}

a {
    color: #fff;
    font-family: "Roboto", sans-serif;
}

a:hover {
    color: #fff;
}

hr {
    border: solid;
    color: #5C5553;
}

/*---------------------------------Navbar */

header {
    background-color: #1ac741;
    width: 100%;
}



/*---------------------------------Section */

section {
    padding-top: 30px;
    padding-bottom: 30px;
}

section h3, h2 {

    text-align: center;
    color: #545b62;
}

.info {
    text-align: center;
    margin: 15px;
    justify-content: center;
}


.label {
    text-align: Center;
}

/*---------------------------------Recipe Pages */

.template h2,h3 {
    padding-top: 30px;
    padding-bottom: 30px;
}

/*---------------------------------Images */

.recipeimages img {
    height: auto;
    max-width: 100%;
    padding: 10px;
}

.image-container {
    height: 110vh;
    width: 100%;
    background: url(../images/dumplings.jpg) center;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*---------------------------------Footer */

footer {
    height: 50px;
    background-color: #1ac741;
}

.footer-items {
    margin-bottom: 0;
    font-size: 16px;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
}

footer .row {
    margin-left: 15px;
    margin-right: 15px;
}

.icon {
    color: #fff;
    font-size: 20px;
}

footer .col-4 {
    text-align: center;
    align-items: center;
}

.social-links {
    flex-direction: row;
    justify-content: flex-end;}

footer li {
    margin: 15px;
}

footer a {
    color: #fff;
    margin: 10px;
    text-align: center;
}

footer p {
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
}

ul.list-inline {
    margin: 0;
}